{#
 # Router for directives
 #
 # @param section : specification of a section to produce
 # @return string
 #}
{%- macro directive(line) -%}
{%- set name = line.keys()[0] -%}
{%- set value = line.values()[0] -%}
{%-   if name == 'options' -%}
Options {{ value if value is string else value|join(' ') }}
{%-   elif name == 'allow_override' -%}
AllowOverride {{ value if value is string else value|join(' ') }}
{%-   elif name == 'allow_override_list' -%}
AllowOverride {{ value if value is string else value|join(' ') }}
{%-   elif name == 'require' -%}
Require {{ value }}
{%-   elif name == 'header' -%}
<IfModule mod_headers.c>
{%      for header in ([value] if value is string else value) %}
  Header {{ header }}
{%      endfor %}
</IfModule>
{%-   elif name == 'server_admin' -%}
ServerAdmin {{ value }}
{%-   elif name == 'document_root' -%}
DocumentRoot {{ value }}
{%-   elif name == 'error_log' -%}
ErrorLog {{ value }}
{%-   elif name == 'custom_log' -%}
CustomLog {{ value }}
{%-   elif name == 'set_handler' -%}
SetHandler {{ value }}
{%-   elif name == 'extra_parameters' -%}
{%      for param in value %}
{{ param }}
{%      endfor %}
{%-   else -%}
{{ 'The directive name "'~name~'" is not implemented.' }}
{%-   endif -%}
{%- endmacro -%}
