{%- import '_macros.j2' as macros with context -%}
{%- import '_sections.j2' as sections -%}
{%- import '_directives.j2' as directives -%}
{{ ansible_managed|comment(decoration='# ') }}

# It is split into several files forming the configuration hierarchy outlined
# below, all located in the /etc/apache2/ directory:
#
#       /etc/apache2/
#       |-- apache2.conf
#       |       `--  ports.conf
#       |-- mods-enabled
#       |       |-- *.load
#       |       `-- *.conf
#       |-- conf-enabled
#       |       `-- *.conf
#       `-- sites-enabled
#               `-- *.conf  ->  sites-available/*.conf
#
# * ports.conf is always included from the main configuration file. It is
#   supposed to determine listening ports for incoming connections which can be
#   customized anytime.
#
# * Configuration files in the mods-enabled/, conf-enabled/ and sites-enabled/
#   directories contain particular configuration snippets which manage modules,
#   global configuration fragments, or virtual host configurations,
#   respectively.
#
#   They are activated by symlinking available configuration files from their
#   respective *-available/ counterparts. These should be managed by using our
#   helpers a2enmod/a2dismod, a2ensite/a2dissite and a2enconf/a2disconf. See
#   their respective man pages for detailed information.

### Global configuration
ServerRoot "{{ apache2__server_root }}"
PidFile {{ apache2__service_pidfile }}
User {{ apache2__service_user }}
Group {{ apache2__service_group }}

Mutex file:{{ apache2__mutex_directory }} default

### Network configuration
Timeout {{ apache2__timeout|int }}
{{ directives.directive({'keepalive': apache2__keepalive}) }}
MaxKeepAliveRequests {{ apache2__max_keepalive_requests|int }}
KeepAliveTimeout {{ apache2__keepalived_timeout|int }}
HostnameLookups {{ macros.bool(apache2__hostname_lookups) }}

### Server visibility
ServerAdmin {{ apache2__serveradmin }}
ServerSignature {{ macros.stringOrBool(apache2__server_signature) }}
ServerTokens {{ macros.stringOrBool(apache2__server_tokens) }}
TraceEnable {{ macros.stringOrBool(apache2__trace_enable) }}

### Includes
IncludeOptional {{ apache2__enabled_modules_include_directory }}/*.load
IncludeOptional {{ apache2__enabled_modules_include_directory }}/*.conf
Include {{ apache2__ports_configuration_file }}

### Logging configuration
ErrorLog {{ apache2__error_log }}
LogLevel {{ apache2__error_log_level }}{% for module, level in apache2__error_log_level_per_module|dictsort|list %} {{ module }}:{{ level }}{% endfor %}

LogFormat {{ apache2__log_format }}

{% for alias, format in apache2__log_formats|dictsort|list %}
LogFormat "{{ format }}" {{ alias }}
{% endfor %}

### Directories configuration
{{ directives.directive({'access_file_name': apache2__access_filename}) }}
{{ directives.directive({'add_default_charset': apache2__default_charset}) }}

{% for sect in apache2__default_sections|d([])|list %}
{{   sections.section(sect) }}
{% endfor %}

# Include generic snippets of statements
IncludeOptional conf-enabled/*.conf

<IfModule ssl_module>
  SSLCipherSuite {{ apache2__ssl_ciphers }}
  SSLProtocol {{ apache2__ssl_protocols }}
  SSLHonorCipherOrder {{ macros.stringOrBool(apache2__ssl_honorciphers_order) }}
{% if _apache2__version is version_compare('2.4.3', '>=') %}
  SSLCompression off
{% endif %}
</IfModule>

<IfModule mod_gnutls.c>
  GnuTLSPriorities {{ apache2__ssl_ciphers }}
</IfModule>

# Include the virtual host configurations:
IncludeOptional sites-enabled/*.conf
