#
# {{ ansible_managed }}
#

{% for listen in _apache2__listen_http | d([80]) | unique %}
Listen {{ listen }}
{% endfor %}

<IfModule ssl_module>
{% for listen in _apache2__listen_https | d([443]) | unique %}
    Listen {{ listen }}
{% endfor %}
</IfModule>

<IfModule mod_gnutls.c>
{% for listen in _apache2__listen_https | d([443]) | unique %}
    Listen {{ listen }}
{% endfor %}
</IfModule>
