#
# {{ ansible_managed }}
#

{% for listen in apache2__listen_http|sort|unique|list %}
Listen {{ listen }}
{% endfor %}

{% if apache2__listen_https|length %}
<IfModule ssl_module>
{%   for listen in apache2__listen_https|sort|unique|list %}
  Listen {{ listen }}
{%   endfor %}
</IfModule>

<IfModule mod_gnutls.c>
{%   for listen in apache2__listen_https|sort|unique|list %}
  Listen {{ listen }}
{%   endfor %}
</IfModule>
{% endif %}
