{{ ansible_managed|comment(decoration='# ') }}

{% for listen in apache2__listen_http|map('string')|unique|sort|list %}
Listen {{ listen }}
{% endfor %}

{% if apache2__listen_https|length %}
{% set _apache2__listen_https = apache2__listen_https|map('string')|unique|list %}
<IfModule ssl_module>
{%   for listen in _apache2__listen_https %}
  Listen {{ listen }}
{%   endfor %}
</IfModule>

<IfModule mod_gnutls.c>
{%   for listen in _apache2__listen_https %}
  Listen {{ listen }}
{%   endfor %}
</IfModule>
{% endif %}
