{{ ansible_managed|comment(decoration='# ') }}

[Service]
# Remove must restart stamp file
ExecStartPre=-/usr/bin/env rm -f {{ apache2__service_restart_stamp_file }}

PrivateTmp={{ apache2__service_private_tmp|bool|ternary('true', 'false') }}
