{%- import '_macros.j2' as macros -%}
{%- import '_sections.j2' as sections -%}
{%- import '_directives.j2' as directives -%}
{{ ansible_managed|comment(decoration='# ') }}
{% set vhost = apache2__virtualhost %}

{% if vhost.hosts is not defined %}
<VirtualHost *:{{ 443 if vhost.ssl|d(false)|bool else 80 }}>
{% else %}
{%   if vhost.hosts is string %}
<VirtualHost {{ vhost.hosts }}>
{%   elif vhost.hosts is iterable %}
<VirtualHost {% for host in vhost.hosts %} {% if host is string %}{{ host }}{% elif host is mapping %}{{ host.ip }}:{{ host.port|d(443 if vhost.ssl|d(false)|bool else 80) }}{% endif %}{% endfor %}>
{%   endif %}
{% endif %}
  ServerName {{ vhost.server_name }}
{% if vhost.server_alias is defined %}
  ServerAlias {{ vhost.server_alias }}
{% endif %}

{% if vhost.ssl|d(false)|bool %}
  <IfModule ssl_module>
    SSLEngine on
{%   if vhost.ssl_certificate_file is defined %}
    SSLCertificateFile {{ vhost.ssl_certificate_file }}
{%   endif %}
{%   if vhost.ssl_certificate_key_file is defined %}
    SSLCertificateKeyFile {{ vhost.ssl_certificate_key_file }}
{%   endif %}
{%   if vhost.ssl_certificate_chain_file is defined %}
    SSLCertificateChainFile {{ vhost.ssl_certificate_chain_file }}
{%   endif %}
{%   if vhost.ssl_verify_client is defined %}
    SSLVerifyClient {{ vhost.ssl_verify_client }}
{%     if vhost.ssl_verify_client_depth is defined %}
    SSLVerifyDepth {{ vhost.ssl_verify_client_depth|d(1)|int }}
{%     endif %}
{%   endif %}
{%   if vhost.ssl_ca_certificate_path is defined %}
    SSLCACertificatePath {{ vhost.ssl_ca_certificate_path }}
{%   endif %}
{%   if vhost.ssl_ca_certificate_file is defined %}
    SSLCACertificateFile {{ vhost.ssl_ca_certificate_file }}
{%   endif %}
{%   if vhost.ssl_ca_revocation_path is defined %}
    SSLCARevocationPath {{ vhost.ssl_ca_revocation_path }}
{%   endif %}
{%   if vhost.ssl_ca_revocation_file is defined %}
    SSLCARevocationFile {{ vhost.ssl_ca_revocation_file }}
{%   endif %}
  </IfModule>
  <IfModule mod_gnutls.c>
    GnuTLSEnable on
{%   if vhost.ssl_certificate_file is defined %}
    GnuTLSCertificateFile {{ vhost.ssl_certificate_file }}
{%   endif %}
{%   if vhost.ssl_certificate_key_file is defined %}
    GnuTLSKeyFile {{ vhost.ssl_certificate_key_file }}
{%   endif %}
  </IfModule>
{% endif %}

{% for key in apache2__server_level_context_directives_name %}
{%   if vhost[key] is defined %}
  {{   directives.directive({key: vhost[key]}) }}
{%   endif %}
{% endfor %}

{% for sect in vhost.sections|d([]) %}
{{   sections.section(sect)|indent(2, True) }}
{% endfor %}

{% for dir in vhost.directives|d([]) %}
{{   directives.directive(dir)|indent(2, True) }}
{% endfor %}
</VirtualHost>
