{%- import '_macros.j2' as macros with context -%}
#
# {{ ansible_managed }}
#
<IfModule mod_status.c>
  ExtendedStatus {{ macros.bool(apache2__module_status_extended_status) }}
  SeeRequestTail {{ macros.bool(apache2__module_status_see_request_tail) }}

  <IfModule mod_proxy.c>
    # Show Proxy LoadBalancer status in mod_status
    ProxyStatus On
  </IfModule>
</IfModule>
